<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ProcessedInvoicePath" value="\\RPA-PC2-UAT\\Shared\\Attachment\\Processed\\" />
    <add key="SharedLocationPath" value="C:\\ApSharedFolder\\Downloded\\" />
    <add key="ProcessedLocationPath" value="C:\\ApSharedFolder\\Processed\\" />
    <add key="IMAP" value="imap.outlook.com" />
    <add key="Logfile" value="C:\\ApSharedFolder\\AP Logs\\" />
    <add key="UserID" value="skbeura95@outlook.com" />
    <add key="Password" value="Leek@4321" />
    <add key="MailBox" value="Inbox" />
    <add key="FromMailID" value="skbeura95@outlook.com" />
    <add key="ToMailID" value="sushil.beura@gridinfocom.com" />   
    <add key="Subject" value="Process Failed" />
    <add key="Body" value="This is for testing !!" />
    <add key="HostName" value="smtp.live.com" />
    <add key="NetworkUserName" value="" />
    <add key="NetworkPassword" value="" />
    <add key="Port" value="587" />
    <add key="ApCredentialPath" value="C:\\Users\\rpa\\Desktop\\OnGoing\\GPILProjects\\GPILProjects\\MailCredential.txt" />
    <add key="ERPDB" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbmx801vm2-vip.godfreyphillips.com)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=DEV))); User Id=UIPATHBOT;Password=gpil1234;" />

  </appSettings>
  <connectionStrings>
    <add name="GPILAPModel" connectionString="data source=HO-RPA-SQL-PROD;initial catalog=GPIL;user id=sa;password=gpil@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="GPILEntities" connectionString="metadata=res://*/DBModel.GPIL.csdl|res://*/DBModel.GPIL.ssdl|res://*/DBModel.GPIL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HO-RPA-SQL-PROD;initial catalog=GPIL;user id=sa;password=gpil@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
</configuration>