<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProcessedInvoicePath" value="\\RPA-PC2-UAT\\Shared\\Attachment\\Processed\\" />
    <add key="IMAP" value="imap.outlook.com" />
    <add key="UserID" value="skbeura95@outlook.com" />
    <add key="Password" value="Leek@54321" />
    <add key="MailBox" value="Inbox" />
    <add key="FromMailID" value="skbeura95@outlook.com" />
    <add key="ToMailID" value="sushil.beura@gridinfocom.com" />
    <add key="CCMailIDs" value="gabbot-gpi@modi.com,servicedesklead.gpi@progressive.in,helpdesklakshya-gpi@modi.com,SUBHAMG-gpi@modi.com" />
    <add key="Subject" value="Process Failed" />
    <add key="Body" value="This is for testing !!" />
    <add key="HostName" value="smtp.live.com" />
    <add key="NetworkUserName" value="" />
    <add key="NetworkPassword" value="" />
    <add key="Port" value="587" />
    <add key="ApCredentialPath" value="C:\\Users\\rpa\\Desktop\\OnGoing\\GPILProjects\\GPILProjects\\MailCredential.txt" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.kernel" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.5.0" newVersion="7.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.io" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.5.0" newVersion="7.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>